body {
	margin: 0 auto;
	background-color: #FAD670;
}

.header {
	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	position: absolute;
}

.menu {
	margin: auto;
}

.menu ul{
	margin: auto;
}

.menu ul li {
	position: relative;
	list-style-type: none;	
	font-size: 40px;
	border-radius: 10px;
	border: 1px solid;
	padding: 10px;
	width: 300px;
	margin-top: 10px;
}

.content {
	margin: auto;
	width: 1000px;
}

.massage {
	margin: auto;
	height: 300px;
	background-color: #B75023;
	margin-top: 30px;
	border-radius: 10px;
}

.name {
	font-size: 30px;
}

.fotos {

}

.text {

}

a {
	text-decoration: none;
	color: black;
}